.testCase {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.testCase div {
    width: 30%;
}
.input-text {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}
.input-text input, button {
    border-style: none;
    margin: 10px;
    background-color: white;
}
.input-text button {
    background-color: #299d90;
}
.input-text input:focus {
    outline: none;
}
.task-container {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.task-container div {
    margin: 0;
    width: 16%;
}
.task-container p {
    padding-right: 337px;
    overflow: hidden;
}
.text-task {
    font-size: 18px;
    color: white;
    margin: 0 0 0 4px;
    padding: 15px;
}
.done-text {
    text-decoration: line-through;
    background: #ccc;
}
.color {
    display: flex;
    margin-top: 10px;
}
.color input {
    opacity: 0;
}
.color div {
    margin: 3px;
    width: 15px;
    height: 15px;
}
.blue {
    background: blue;
}
.dark-orange {
    background: #ffa400;
}
.green {
    background: green;
}
.red {
    background: red;
}
.bright-green {
    background: #00d669;
}
.purple-blue {
    background: #530cff;
}
.blue-checked, .dark-orange-checked, .green-checked, .red-checked, .bright-green-checked, .purple-blue-checked{
    border: 1px solid white;
    outline: 2px solid orange;
}
.blue-checked {
    background: blue;
}
.dark-orange-checked {
    background: #ffa400;
}
.green-checked{
    background: green;
}
.red-checked {
    background: red;
}
.bright-green-checked {
    background: #00d669;
}
.purple-blue-checked {
    background: #530cff;
}
